@import '../../styles.scss';

.main {
  height: calc(100% - 134px);
  width: 100%;
  display: flex;

  flex-wrap: wrap;

  /* Временное решение для проверки */
  text-align: center;
  font-size: 22px;

  .main__imageContainer {
    height: 480px;
    width: 100%;
    background-image: url('../../assets/main/backgroundPops.svg');
    background-repeat: no-repeat;
    background-size: cover;
  }
}
