h2,
h3,
p {
  padding: 0;
  margin: 0;
}

.product-page {
  max-width: 1440px;
}

.wrapper__product {
  margin: 0 3%;
}

.breadcrumb {
  font-size: 16px;
  padding: 20px 0;
}

.product__container {
  box-sizing: border-box;
  display: grid;
  //   justify-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
  background-color: #b9bbde;
  padding: 40px;
  transition: all 0.5s;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.product__slider {
  max-width: 100%;
  position: relative;
  max-height: 500px;
  display: flex;
  overflow: hidden;
  background-color: #ffffff;
  @media (max-width: 900px) {
    align-self: center;
  }
  @media (max-width: 500px) {
    max-width: 300px;
    max-height: 300px;
  }
}

.img__container {
  display: flex;
  transition: all 0.5s;
}

.slider__buttons {
  position: absolute;
  display: flex;
  gap: 30px;
  bottom: 30px;
  left: 50%;
  transform: translate(-50%, 0);
}

.slider-button {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: black;
  border: 5px solid white;
  padding: 5px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

.slider-button::before {
  content: '';
  position: absolute;
  top: -5px;
  bottom: -5px;
  left: -5px;
  right: -5px;
  border: 3px solid black;
  border-radius: 100%;
}

.slider-button_active {
  border: 5px solid black;
}

.product__image {
  flex: 0 0 100%;
  max-width: 80%;
  padding: 10%;
  object-fit: contain;
  @media (max-width: 500px) {
  }
}

.product__description {
  max-width: 580px;
}

.product__category {
  margin: 0;
  padding: 0;
}

.product__header {
  font-size: 36px;
}

.price__container {
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 30px 0;
}

.product__sale {
  width: 70px;
  font-size: 24px;
  line-height: 16px;
  padding: 10px;
  font-weight: 300;
  color: #ffffff;
  text-align: center;
  background-color: #ff4d4d;
}

.price__sale {
  font-weight: 300;
  text-decoration: line-through;
}

.product__info {
  margin-top: 50px;
}
