@import '../../styles.scss';

.header {
  height: 76px;
  display: flex;
  justify-content: space-between;

  border-bottom: solid 1px rgb(155, 151, 148);
}

.header__logo {
  display: flex;
  align-items: center;
  padding: 0 20px;

  img {
    width: 110px;
    height: 28px;
  }
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__nav-list {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__nav-item {
  list-style-type: none;
}

.header__nav-link {
  color: #111111;
  text-decoration: none;
  font:
    16px 'Poppins',
    sans-serif;
}

.header__btn {
  width: 100px;
  height: 44px;
  font:
    16px 'Poppins',
    sans-serif;
  color: #6e41e2;
  border: 2px solid #6e41e2;
  border-radius: 4px;
  align-self: center;
  margin-right: 20px;
  cursor: pointer;
}

.header__burger {
  width: 36px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-self: center;
  margin-right: 20px;
}

.burger__popup {
  left: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 77px;
  width: 100%;
  height: 100%;
  background-color: orange;
  z-index: 3;
  display: flex;
  transition: 0.3s;
}

.burger__popup_nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 768px) {
  .header__nav {
    display: none;
  }

  .header__burger {
    display: flex;
  }

  .header__nav_burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .header__burger-line1,
  .header__burger-line2,
  .header__burger-line3 {
    transition: 0.3s;
  }

  .header__burger-line1_active {
    transform: rotate(45deg);
    transition: 0.3s;
    translate: 0 14px;
  }

  .header__burger-line2_active {
    transform: rotate(45deg);
    transition: 0.3s;
  }

  .header__burger-line3_active {
    transform: rotate(-45deg);
    transition: 0.3s;
    translate: 0 -14px;
  }

  .burger__popup_active {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 77px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: orange;
    z-index: 3;
    display: flex;
    transition: 0.3s;
  }

  .header__btn {
    margin-right: 0px;
  }

  .header__nav-list {
    flex-direction: column;
    padding-left: 0;
  }
}
