@import '../../styles.scss';

.wrapper__404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px auto;
}

.header__404 {
  margin: 0;
  padding-top: 20px;
  font-size: 200px;
  line-height: 180px;
  letter-spacing: 10px;
}

.subheader__404 {
  margin: 0;
  font-size: 40px;
  letter-spacing: 2px;
}

.info__404 {
  padding: 20px;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-align: center;
}

.button__404 {
  width: 270px;
  height: 44px;
  border: 0;
  border-radius: 5px;
  background-color: rgb(110, 65, 226);
  color: rgb(255, 255, 255);
  font-size: 20px;
  cursor: pointer;
  transition: all 0.4s;

  &:active {
    position: relative;
    top: 1px;
  }

  &:hover {
    background-color: rgb(85, 31, 223);
  }
}
